*{
	font-size: 2vw;
	font-family: Arial;
}

window{
	background-color: #99f;
	border:1px solid black;
	width:100%;
	height:85%;
	left:0%;
	top: -101%;
	position:absolute;
}

.tabSections{
	width:25%;
}